body {
 /*background-color: rgba(255,193,7,.1);*/
 background-color: rgba(255,153,0,0.2);
}
.main-header {
    background-color: #343a40 !important;
    color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}
.nav-sidebar .nav-item > .nav-link {
    margin-bottom: .2rem;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    margin-right: 4px;
    max-width: 97%;
}
td.details-control {
 background: url('http://store.cnkusa.com/public/img/details_open.png') no-repeat center center;
 cursor: pointer;
}

tr.shown td.details-control {
 background: url('http://store.cnkusa.com/public/img/details_close.png') no-repeat center center;
}
.top-tier-notification {
    margin-left: 250px;
    background: #ffc107;
    color: #000;
    padding: 2px 0;
}
.font-class {
    font-size: 21px;
    margin: 0;
}
.notification-slider{
    width: 80%;
    text-align: center;
}

.order-list-tab {
 width: 100%;
}

.item-order [class*="col-"] {
 border: 1px solid #ccc;
 padding: 0 2px;
 background-color: #f2f8f8;
 text-align: center;
 font-size: 15px;
}

.item-order .even {
 background-color: #fff;
}

.fedex .form-group {
 margin-bottom: 5px;
}

.new-gen a {
 display: inline-block;
 background-color: #ccc;
 color: #000;
 padding: 5px 10px;
 margin-right: 0;
 margin-bottom: 8px;
 border: 1px solid #000;
 box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

.new-gen a:hover {
 display: inline-block;
 background-color: #dc3545;
 color: #000;
 padding: 5px 10px;
 margin-right: 0;
 border: 1px solid #dc3545;
 box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
 cursor: pointer;
}

.imgcreateorder img {
 display: block;
 margin: 0;
 width: 200px;
}

.murlkuchv:hover {
 color: #fff;
}

.murlkuchv {
 display: block;
 background: #ea4e1a;
 color: #fff;
 width: 50%;
 text-align: center;
 padding: 10px;
 margin: 5px 0 auto;
 margin-bottom: 10px;
}

.murlkuchv.two {
 display: block;
 background: #ac3721;
 color: #fff;
 width: 50%;
 text-align: center;
 padding: 10px;
 margin: 5px 0 auto;
 margin-bottom: 10px;
}

.murlkuchv.three {
 display: block;
 background: #3aaa35;
 color: #fff;
 width: 50%;
 text-align: center;
 padding: 10px;
 margin: 5px 0 auto;
 margin-bottom: 10px;
}

.hide2 {
 display: none;
}

.hide3 {
 display: none;
}

.refresh {
 display: inline-block;
 text-align: right;
 float: right;
}

.refresh img {
 width: 30px;
}

.liz .small-box {
 background-color: #c7c7c9 !important;
 color: #fff !important;
}

.liz .small-box a {
 color: #fff !important;
}

.jl .small-box {
 background-color: #b58c4c !important;
 color: #fff !important;
}

.jl .small-box a {
 color: #fff !important;
}


.skmanualordres input {

 width: 49% !important;
 display: inline-block;

}

.skmanualordres select {

 width: 49% !important;
 margin-bottom: 4px !important;

}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
 background-color: #f9f9f9;
 z-index: -1;
}

.skmord.modal {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
}
/*.skmord.modal {
 position: fixed;
 top: 110px;
 right: 0;
 bottom: 0;
 z-index: 1050;
 display: none;
 overflow: hidden;
 outline: 0;
 z-index: 10000000000;
}*/

.btn-info.focus,
.btn-info:focus {
 box-shadow: none !important;
}

.skmord .modal-content {
 border-radius: 0;
 background-color: #343a40;
 max-height: 444px;
 overflow-y: scroll;
}

.modal-dialog {
 max-width: 690px;
 margin: 0 auto;
}

.skmord .modal-content .modal-body {

 color: #fff;
 text-align: center;
 font-size: 25px;
 padding: 1.5rem;
 box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.skmord .modal-content .modal-body p {

 margin: 0;

}

.skmord .modal-footer button {
    position: fixed;
    top: 4px;
    right: 20px;
    border-radius: 1rem;
    background-color: #fff;
    color: #000;
    padding: 2px;
}

.modal-backdrop {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1;
 background-color: #000;
}

.skmord .modal-footer {

 padding: 0;
 background-color: #000;

}

.skmord .modal-footer {

 border-top: 1px solid transparent;

}

.disabled {
 pointer-events: none;
}

@media only screen and (max-width: 991.98px) { 
.top-tier-notification {
    margin-left: 0;
}
.font-class {
    font-size: 14px;
    margin: 0;
}
}

@media only screen and (max-width: 600px) {
 .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  padding: 0;
 }

 .skmord.modal {
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
  transform: none;
 }
 .shipbyamazon.ship.immediately {
    background-color: #d81e05;
    padding: 2px;
    font-size: 12px;
}
.shipbyamazon.ups.ground {
    display: block;
    margin-bottom: 7px;
    position: relative;
    padding: 6px 0 6px 21px;
    color: #fff;
    text-transform: uppercase;
    background: #150400;
    font-size: 12px;
}
.shipbyamazon.ups.ground::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/ups-groung.png);
    position: absolute;
    left: 1px;
    top: 8px;
    width: 18px;
    height: 18px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
}

.modal-content {
 overflow-y: scroll;
}

.modal-content p {
 font-size: 17px;
 text-align: left;
 padding: 15px 0;
 border-bottom: 1px dotted #ccc;
}

.whatsappicon {
 width: 30px;
 display: inline-block;
 margin: 0 auto;
}

.whatsappicon img {
 width: 30px;
 display: inline-block;
 margin: 0 auto;
}

.whatsappmobile {
 display: none;
}

.pagination {
 float: right;
}

.pagination li a {
  background-color: #000;
  padding: 5px 11px;
  margin: 0;
  display: inline-block;
  color: #fff;
}

.pagination .active {
    background-color: #f16e00;
    padding: 11px 15px;
    margin: auto 2px;
    color: #fff;
}

.pagination .disabled {
  background-color: #000;
  padding: 10px;
  margin: auto 2px;
}

.inline-list-item li {
  padding: 5px;
  text-align: center;
  background: #000;
  margin: 0 2px;
  color: #fff;
}

.stpert {
 color:
  #FFF;
 font-size: 18px;
}

.stpert {
 top: -18px;
 position: absolute;
 text-align: center;
 left: 50%;
 transform: translateY(-50%);
 z-index: 1;
}

.stpert::after {
 content: '%';
}

.updating-card {
 display: block;
 text-align: center;
 padding: 15px;
 box-shadow: 10px 10px 15px #ccc;
}

.creat-sample-order-table {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 21px;
}
.sample-heading {
    background-color: #fff;
    padding: 15px;
}

.sample-order-box {
    margin-bottom: 16px;
}

.sample-box-list .select2-container .select2-selection--single {
    height: 37px !important;
}
.sample-box-list .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 30px;
}
.ad-kro-jio {
    border-bottom: 1px solid #999;
}
.no-repeat-section {
    margin-bottom: 21px;
}
.img-zoom-hvr {
  transition: transform .2s;
}

.img-zoom-hvr:hover {
  -ms-transform: scale(2.2); 
  -webkit-transform: scale(2.2); 
  transform: scale(2.2); 
}
.img-zoom-hvr1 {
  transition: transform .2s;
}

.img-zoom-hvr1:hover {
  -ms-transform: scale(2.8); 
  -webkit-transform: scale(2.8); 
  transform: scale(2.8); 
}
@media screen and (max-width: 600px) {
 .whatsappicon {
  display: none !important;
 }

 .whatsappmobile {
  width: 30px;
  display: inline-block;
  margin: 0 auto;
 }

 .whatsappmobile img {
  width: 30px;
  display: inline-block;
  margin: 0 auto;
 }

 .connectedSortable {
  overflow-x: scroll;
 }

 .bar-container {
  position: relative;
  margin-top: 2.5em;
  width: 18px !important;
 }
 .inner h3 {
    font-size: 25px;
}
.col-sm-4.sample-order-class {
    margin-top: 16px;
}
.sample-heading {
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
}
}
.premium {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    margin: 0 auto;
}
.prime {
    background-color: #f3d07a;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    margin: 0 auto;
}
.shipbyamazon {
    background-color: yellow;
    text-align: center;
    color: #000;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.shipbyamazon.ship.immediately {
    background-color: #1fbbb4;
    padding: 4px;
    color: #000;
}
.shipbyamazon.use.amazon.easy.ship {
    background-color: #ffae16;
    padding: 4px;
}
.shipbyamazon.ltl.--.estes-express {
    background-color: #ffd520;
    padding: 4px;
}
.shipbyamazon.top.urgent.shipment {
    background-color: #e36c4c;
    padding: 4px;
}
.sasha-amazon {
    position: relative;
    background-color: #ffae16;
    color: #000;
    padding: 0px 2px 0px 22px;
    display: inline-block;
    margin-bottom: 7px;
}
.sasha-amazon.canada {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 33px;
}
.sasha-amazon.canada::after {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/Flag_of_Canada.gif);
    position: absolute;
    right: 0;
    top: 0px;
    width: 64px;
    height: 34px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-pts {
    background-color: #c20101;
    padding: 7px;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 7px;
}
.sasha-sto {
    background-color: #007bff;
    padding: 7px;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 7px;
}
.sasha-etsy {
    display: inline-block;
    color: #000;
    border-bottom: 2px solid #f8b18e;
    margin: 0;
    font-weight: bold;
    background-color: #f1641e;
    letter-spacing: 2px;
    padding: 0 11px;
    margin-bottom: 7px;
}
.sasha-tilehub {
    display: inline-block;
    margin-bottom: 7px;
    position: relative;
    padding: 4px 4px 2px 22px;
    color: #bc0f12;
    text-transform: uppercase;
}
.sasha-tilehub::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/tilehubbg.png);
    position: absolute;
    left: 0px;
    top: 3px;
    width: 22px;
    height: 22px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-cnktile {
    background-color: #008fc7;
    padding: 5px 8px;
    margin: 5px auto;
    display: inline-block;
    color: #fff;
}
.sasha-walmart {
    display: inline-block;
    margin-bottom: 7px;
    position: relative;
    padding: 2px 2px 2px 22px;
    background-color: #041e42;
    color: #fff;
    text-transform: uppercase;
}
.sasha-walmart::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/walmartbg.png);
    position: absolute;
    left: 1px;
    top: 4px;
    width: 22px;
    height: 22px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.santosh-wayfair {
    display: inline-block;
    margin-bottom: 7px;
    position: relative;
    padding: 2px 4px 2px 22px;
    color: #7f187f;
    text-transform: uppercase;
}
.santosh-wayfair::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/wayfair.png);
    position: absolute;
    left: 0px;
    top: 3px;
    width: 22px;
    height: 22px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-houzz {
    display: inline-block;
    margin-bottom: 7px;
    position: relative;
    padding: 6px 4px 2px 22px;
    color: #000000;
    text-transform: lowercase;
}
.sasha-houzz::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/houzzbg.png);
    position: absolute;
    left: 0px;
    top: 3px;
    width: 22px;
    height: 22px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-ptspaypal {
    display: block;
    margin-bottom: 7px;
    position: relative;
    padding: 2px 27px 2px 2px;
    color: #009cde;
    text-transform: uppercase;
    background: #fff;
    width: 100%;
    max-width: 117px;
}
.sasha-ptspaypal::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/paypalbg.png);
    position: absolute;
    right: -40px;
    top: -13px;
    width: 55px;
    height: 55px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-www\.cnktile\.com {
    display: block;
    margin-bottom: 7px;
    position: relative;
    padding: 2px 27px 2px 2px;
    color: #009cde;
    text-transform: uppercase;
    background: #fff;
}
.sasha-www\.cnktile\.com::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/cnkbg.png);
    position: absolute;
    right: 0;
    top: -8px;
    width: 55px;
    height: 55px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-amazon::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/Amazon_icon.png);
    position: absolute;
    left: 0px;
    top: 3px;
    width: 22px;
    height: 22px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.sasha-amazon.canada::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/Amazon_icon.png);
    position: absolute;
    left: 0px;
    top: 3px;
    width: 32px;
    height: 32px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.don\'t.ship.this.order {
    background-color: #006cff;
    font-size: 18px;
    color: #fff;
    padding: 6px;
}
.shipbyamazon.don\'t.ship.this.order::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/nooo.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 35px;
    height: 35px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.order.replacement {
    background-color: #fff;
    color: #000;
    padding: 8px;
    text-align: right;
}
.shipbyamazon.order.replacement::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/Box-question.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 55px;
    height: 55px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.check.stock.availability {
    background-color: #000;
    color: #25badc;
    padding: 6px;
    text-align: right;
}
.shipbyamazon.check.stock.availability::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/plus.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 34px;
    height: 34px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.pack.with.care::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/polizas_gif.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 59px;
    height: 59px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.pack.with.care {
    padding: 11px 0px;
    background-color: #fbfbfb;
}
.shipbyamazon.ship.immediately::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/siren.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.use.amazon.easy.ship::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/Amazon_icon.png);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.ltl.--.estes-express::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/estes.png);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.top.urgent.shipment::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/urgent.gif);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.ups.ground {
    display: block;
    margin-bottom: 7px;
    position: relative;
    padding: 6px 53px 6px 0px;
    color: #fff;
    text-transform: uppercase;
    background: #150400;
}
.shipbyamazon.ups.ground::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/ups-groung.png);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.shipbyamazon.ups.next.day.air {
    display: block;
    margin-bottom: 7px;
    position: relative;
    padding: 6px 33px 6px 0px;
    color: #fff;
    text-transform: uppercase;
    background: #150400;
}
.shipbyamazon.ups.next.day.air::before {
    content: '';
    background-image: url(https://store.cnkusa.com/public/images/ups-groung.png);
    position: absolute;
    left: 1px;
    top: 1px;
    width: 33px;
    height: 33px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
}
.content-wrapper {
    background: transparent;
}
.content-wrapper .card {
    background: transparent;
}
.contentsk {
    background-color: transparent !important;
}
.nav-sidebar .nav-item > .nav-link:hover::before, .nav-sidebar .nav-item > .nav-link:focus::before, .nav-sidebar .nav-item > .nav-link:active::before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.nav-sidebar .nav-item > .nav-link:hover p {
  color: #000;
}
.nav-sidebar .nav-item > .nav-link:hover i.fa {
  color: #000;
}
.nav-sidebar .nav-item > .nav-link:focus p {
  color: #000;
}
.nav-sidebar .nav-item > .nav-link:focus i.fa {
  color: #000;
}

.nav-sidebar .nav-item > .nav-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc107;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav-sidebar .nav-item > .nav-link:hover, .nav-sidebar .nav-item > .nav-link:focus, .nav-sidebar .nav-item > .nav-link:active {
    color: white;
}
[class^="hvr-"] {
    cursor: pointer;
    color: #666;
}
.nav-sidebar .nav-item > .nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 100%;
}
.sasha-hvr-table {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
}
.sasha-hvr-table:hover, .sasha-hvr-table:focus, .sasha-hvr-table:active {
    color: #000;
}
.sasha-hvr-table:hover::before, .sasha-hvr-table:focus::before, .sasha-hvr-table:active::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.sasha-hvr-table::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: rgba(255,193,7,.2);*/
    background-color: rgba(255,153,0,0.2);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/*.sasha-hvr-table:hover .table thead th {
    border-top: 5px solid #fff;
    transition: .3s ease-in;
}*/
.sasha-hvr-table:hover .table thead th {
    border-bottom: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sasha-hvr-table .table thead th {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.table.table-striped.table-responsive-sm.position-relative {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}
.table.table-striped.table-responsive-sm.position-relative:hover::before, .table.table-striped.table-responsive-sm.position-relative:focus::before, .table.table-striped.table-responsive-sm.position-relative:active::before {
    left: 0;
    right: 0;
}
.table.table-striped.table-responsive-sm.position-relative::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background-color: rgba(255,153,0);
    height: 5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.contentsk font {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.contentsk .btn.btn-sm.btn-success {
    background: #d81e05;
    border-color: #d81e05;
}
.sasha-hvr-table .table thead th {
    border-top: 2px solid #FFF;
}
.sasha-hvr-table .table thead th {
    border-bottom: 2px solid #FFF;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.card-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/*Night Mode CSS*/

body.night {
  background: #00151f;
  color: #fff;
}
body.night .main-header {
    background-color: #000 !important;
}
body.night .navbar-light .navbar-nav .nav-link {
    color: #fff;
}
body.night .sidebar {
    background-color: #000;
}
body.night .shipbyamazon {
    background-color: #dc3545;
    text-align: center;
    color: #000;
}
body.night .new-gen a {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    margin-right: 0;
    border: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}
body.night .new-gen a:hover {
    display: inline-block;
    background-color: #fff;
    color: #000 !important;
    padding: 5px 10px;
    margin-right: 0;
    border: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}
body.night table.dataTable tbody tr {
    background-color: transparent;
}
body.night .sasha-hvr-table {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
}
body.night .sasha-hvr-table:hover, body.night .sasha-hvr-table:focus, body.night .sasha-hvr-table:active {
    color: white;
}
body.night .sasha-hvr-table:hover::before, body.night .sasha-hvr-table:focus::before, body.night .sasha-hvr-table:active::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
body.night .sasha-hvr-table::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.shipbyamazon{
  position: relative;
  overflow: hidden;
  /*animation: 0.8s shake infinite alternate;*/
}
/*@keyframes shake {
	 0% {
		 transform: skewX(-15deg);
	}
	 5% {
		 transform: skewX(15deg);
	}
	 10% {
		 transform: skewX(-15deg);
	}
	 15% {
		 transform: skewX(15deg);
	}
	 20% {
		 transform: skewX(0deg);
	}
	 100% {
		 transform: skewX(0deg);
	}
}
 */

.shipbyamazon::after {
    content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 33%;
    left: 28%;
    width: 11px;
    height: 11px;
    background: #FFF;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
    color: #fff;
}

body.night .shipbyamazon::after {
    content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 5px;
    left: 55px;
    width: 22px;
    height: 22px;
    background: #FFF;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
    color: #fff;
}

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.shipbyamazon::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}

.toggle-dark {
  position: absolute;
  top: 40px;
  left: 0px;
  background: #fff;
  border: 1px solid #00151f;
  width: 45px;
  height: 22px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle-dark.active {
  background: #00151f;
  border: 1px solid #fff;
}

.toggle-dark:before {
  left: 0px;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #00151f;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle-dark.active:before {
  left: 27px;
  background: #fff;
}
.sasha-hvr-table-now{
  position: relative;
  overflow: hidden;
}

.sasha-hvr-table-now::after {
    content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 1px;
    left: 22px;
    width: 20px;
    height: 20px;
    background: #8ce78c;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
    overflow: hidden;
}

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.sasha-hvr-table-now::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}

.sasha-hvr-button{
  position: relative;
  overflow: hidden;
}

.sasha-hvr-button::after {
    content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 14px;
    left: 14px;
    width: 12px;
    height: 12px;
    background: red;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
}

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.sasha-hvr-button::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}
body.night .select2-results li {
    color: #000;
}
.btn.btn-info.btn-lg.sasha-hvr-button {
    position: absolute;
    left: 5px;
    top: 55px;
}
.btn.btn-info.btn-lg.sasha-hvr-button img {
    width: 100%;
}





.sasha-hvr-button-2{
  position: relative;
  overflow: hidden;
  display: block;
}

.sasha-hvr-button-2::after {
    content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 14px;
    left: 14px;
    width: 12px;
    height: 12px;
    background: #006cff;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
}

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.sasha-hvr-button-2::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}
body.night .select2-results li {
    color: #000;
}
.btn.btn-info.btn-lg.sasha-hvr-button-2 img {
    width: 100%;
}
.repeat-this {
    min-height: 222px;
}
.take-this-height {
    height: 311px;
}
.bar-group:hover .bar span {
display: block !important;
top: -20px;
left: 50%;
transform: translate(-50%, -100%);
padding: 10px 20px;
color: #444444;
background-color: #EEEEEE;
font-weight: normal;
font-size: 13px;
border-radius: 8px;
position: absolute;
z-index: 99999999;
box-sizing: border-box;
box-shadow: 0 1px 8px rgba(0,0,0,0.5);
display: none;
transition: all ease-out .3s;
}
.bar-group:hover .bar span i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}
.bar-group:hover .bar span i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}
#bar-chart .stat-1:hover {
	background-image: linear-gradient(to right, #ff9900 0%, #ff9900 47%, #ff9911 50%, #ff9911 100%);
	transition: .5s all ease-in;
}
.helloo {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 5px auto;
    font-size: 17px;
    font-weight: bold;
    color: #CFC547;
    display: none;
}
.repeat-this.position-relative.sasha-hvr-table:hover .helloo {
    display: block;
}
.sasha-chatboatorder .makeithigh {
    height: 244px;
}
.sasha-hvr-table.free-sample-dispatch .makeithigh {
    height: 222px;
}
.repeat-this .makeithigh {
    height: 256px;
}

.contentsk {
    -webkit-animation: fadeInDown .8s ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown .8s ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.shipping_address {
    margin-top: 41px;
}
.shipping_name {
    display: block;
    font-weight: bold;
}
.sasha-ptu {
    background-color: #0a0c19;
    color: #ffae16;
    padding: 7px;
    display: inline-block;
    border-radius: 100%;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 7px;
}
.shipbyamazon.free.economy.shipping {
    background-color: #dc3545;
    color: #fff;
    font-weight: normal;
}
.total_amount {
    display: table;
    height: 100%;
    width: 100%;
}
.amaountintotal {
    height: 100%;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 17px;
}
.topmiddle {
    display: table;
    height: 100%;
    width: 100%;
}
.inthemiddle {
    height: 100%;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding-left: 1%;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 17px;
}
.take-this-height .table thead th {
    text-align: center;
}
.ttotal {
    border: 2px solid #000;
    color: #000;
    display: block;
    width: 100%;
    padding: 1px;
    background-color: #fff;
}
.ttotal span {
    color: green;
    font-size: 113%;
}